@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "FREE";
   
    /* src: url("../public/fonts/Product\ Sans\ Regular.ttf") format('truetype'); */
    src: url("../public/fonts/FontsFree-Net-Maison-Neue-Book.ttf")  ;
  }


  /* .grayscale {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .grayscale:hover {
    filter: grayscale(0%);
  } */

@layer components {
 .moon{
  background-image: url("../public/images/moon.jpeg") ;
  
 }
 .auction{
  background-image: url("../public/images/auction.jpeg") ;
  
 }
 .group{
  background-image: url("../public/images/groupphoto.jpeg") ;
  
 }
 .blackman{
  background-image: url("../public/images/blackman.jpeg") ;
  
 }
 .active{
  color: black;
 }
 table{
  border-top: 1px solid black;
  width: 100%;
  
 }
 th{
  color:black;
 }
 td{
  color: #6E6E6E;
 }
 td,th{
  border-bottom: 1px solid rgb(219, 218, 218);
  text-align: left;
  
  padding-left: 0px;
  padding-top: 11px;
  padding-right:10px ;
  padding-bottom: 8px;
 }
}