@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "FREE";
    /* src: url("../public/fonts/Product\ Sans\ Regular.ttf") format('truetype'); */
    src: url("../public/fonts/FontsFree-Net-Maison-Neue-Book.ttf") format('truetype') ;
  }


  /* .grayscale {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .grayscale:hover {
    filter: grayscale(0%);
  } */

@layer components {
 .moon{
  background-image: url("../public/images/moon.jpeg") ;
  
 }
 .auction{
  background-image: url("../public/images/auction.jpeg") ;
  
 }
 .group{
  background-image: url("../public/images/groupphoto.jpeg") ;
  
 }
 .blackman{
  background-image: url("../public/images/blackman.jpeg") ;
  
 }
}